jade/includes/article.jade
article.box
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#") Futbol Internacional
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca
            p El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona
    figure.media
        a(href="#")
            img(src="img/16-9.jpg", alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca")    

public/includes/article.html

<article class="box">
  <div class="box-inner">
    <header>
      <div class="tag-time">
        <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Futbol Internacional</a></span></h3>
        <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
      </div>
      <h1><a href="#">Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca</a></h1>
      <p>El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona</p>
    </header>
  </div>
  <figure class="media"><a href="#"><img src="img/16-9.jpg" alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca"/></a></figure>
</article>
