public/includes/body-gallery.html

<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
          </section>
        </section>
        <article class="box-detail">
          <header>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
            <h1>Real Madrid, Triunfa con golazo de Cristiano Ronaldo</h1>
            <cite class="hat">Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                </cite>
          </header>
          <section class="inner-detail ml">
            <section class="img-news">                                           
              <!--include detail-content-img-->
              <!--figure.media.full
              img(src="img/16_9_ndetalle.jpg", alt="Real Madrid, Triunfa con golazo de Cristiano Ronaldo")
              figcaption.help-media Agencia AFP
              -->
            </section>
            <ul class="sharedetail-fix nolist new-social">
              <li class="social-fb"><a href=""><i class="icon icon-facebook"></i><span>45</span></a></li>
              <li class="social-tw"><a href=""><i class="icon icon-twitter"></i><span>54</span></a></li>
              <li class="social-gplus"><a href=""><i class="icon icon-google-plus"></i><span>293</span></a></li>
            </ul>
            <section class="content-news">
              <section class="tags">
                <h3>Tags:</h3>
                <h2><a href="#">RONALDO</a></h2>
                <h2><a href="#">REAL MADRID</a></h2>
                <h2><a href="#">ESPAÑA</a></h2>
                <h2><a href="#">CHAMPIONS</a></h2>
                <h2><a href="#">PORTUGAL</a></h2>
              </section>
              <section class="social-detail">
                <ul class="item-social-detail">
                  <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
                  <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
                  <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
                  <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
                  <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
                </ul>
              </section>
              <section class="comment">
                <h4>COMENTA:</h4>
              </section>
              <section class="ads-full">
                <section class="ads-sidebar"></section>
                <section class="ads-sidebar">   </section>
              </section>
              <section class="related-news-full module module-blue">          
                <h3>Noticias relacionadas                    </h3>
                <ul class="title-top">
                  <li>
                    <div class="box">
                      <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
                      <h3 class="tag-title">BOXEO</h3>
                      <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
                    </div>
                  </li>
                  <li>
                    <div class="box">
                      <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
                      <h3 class="tag-title">FÚTBOL</h3>
                      <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
                    </div>
                  </li>
                </ul>
              </section>
            </section>
            <div class="clear"></div>
          </section>
        </article>
      </div>
    </section>
  </div>
</div>

jade/includes/body-gallery.jade
.grid
    .col-2-2
        section.box
            .box-inner
                include breadcrumb-social

                article.box-detail
                    
                    header
                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                            
                        h1 Real Madrid, Triunfa con golazo de Cristiano Ronaldo
                        cite.hat Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                
                    section.inner-detail.ml

                        section.img-news                                            
                            //include detail-content-img
                            //figure.media.full
                                img(src="img/16_9_ndetalle.jpg", alt="Real Madrid, Triunfa con golazo de Cristiano Ronaldo")
                                figcaption.help-media Agencia AFP
                            //- span.gallery-trigger.prev
                            //-     i.icon.icon-angle-left
                            //- span.gallery-trigger.next
                            //-     i.icon.icon-angle-right
                        
                        ul.sharedetail-fix.nolist.new-social
                            li.social-fb
                                a(href="")
                                    i.icon.icon-facebook
                                    span 45
                            li.social-tw
                                a(href="")
                                    i.icon.icon-twitter
                                    span 54
                            li.social-gplus
                                a(href="")
                                    i.icon.icon-google-plus
                                    span 293
                            
                        section.content-news
                            include detail-content-news
                            
                            include detail-tags
                            
                            include detail-social-bottom
                            
                            
                            section.comment
                                h4 COMENTA:
                                
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                        
                        .clear
                                        
