public/includes/body-resultado.html

<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-padd none480">
        <section class="breadcrumb-social">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
          </section>
        </section>
      </div>
      <div class="box-sinpadd">
        <article class="box-detail fixt">
          <div class="header-resultados box-padd"><a href="" class="link480"></a><span class="etq-result">Resultados</span>
            <h3>Copa america chile 2015</h3>
            <div class="wrap-select"><i class="icon icon-unsorted"></i>
              <select>
                <option>Más torneos</option>
                <option>option 1</option>
                <option>option 2</option>
              </select>
            </div>
          </div>
          <div class="tab-resultados">
            <ul>
              <li class="act"><a href="">Resultados</a></li>
              <li><a href="">Fixture</a></li>
              <li> <a href="">Posiciones</a></li>
              <li> <a href="">Goleadores</a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="box-padd">
        <div class="box-result">
          <div class="body-resultados">
            <div class="item-resultados box">
              <section id="RST1">
                <script>rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215751'}).renderMaM({id:'#RST1',url:'www.google.com.pe'});</script>
              </section>
              <ul class="list-est">
                <li><a href="">Previa</a><i class="icon icon-caret-right"></i></li>
                <li><a href="">Ir al directo</a><i class="icon icon-caret-right"></i></li>
                <li class="active"><a href="">Cronica</a><i class="icon icon-caret-right"></i></li>
              </ul>
            </div>
            <div class="item-resultados box">
              <section id="RST2">
                <script>rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST2',url:'www.google.com.pe'});</script>
              </section>
              <ul class="list-est">
                <li><a href="">Previa</a><i class="icon icon-caret-right"></i></li>
                <li><a href="">Ir al directo</a><i class="icon icon-caret-right"></i></li>
                <li class="active"><a href="">Cronica</a><i class="icon icon-caret-right"></i></li>
              </ul>
            </div>
          </div>
          <div class="link-resultados"><a href="">Ver mas </a></div>
          <section class="inner-detail n-padd">
            <section class="content-news">
              <section class="social-detail social-2">
                <ul class="item-social-detail">
                  <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
                  <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
                  <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
                  <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
                  <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
                </ul>
                <ul class="item-social-detail">
                  <li class="li-comenta-large"><a data-idfb="287920207998918" data-type="s-click" class="lazy comenta bot"><i class="icon icon-comments-o"> </i><span>comenta</span></a>
                    <div class="text-comenta">
                      <p>120</p><span>comentarios</span>
                    </div>
                  </li>
                </ul>
              </section>
              <section class="ads-full">
                <section class="ads-sidebar"></section>
                <section class="ads-sidebar">   </section>
              </section>
              <section class="related-news-full module module-blue">          
                <h3>Noticias relacionadas                    </h3>
                <ul class="title-top">
                  <li>
                    <div class="box">
                      <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
                      <h3 class="tag-title">BOXEO</h3>
                      <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
                    </div>
                  </li>
                  <li>
                    <div class="box">
                      <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
                      <h3 class="tag-title">FÚTBOL</h3>
                      <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
                    </div>
                  </li>
                </ul>
              </section>
              <section class="connect">
                <h4>Conéctate a la 10</h4>
                <ul>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
                </ul>
              </section>
            </section>
            <div class="clear"></div>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>

jade/includes/body-resultado.jade
.grid
    .col-2-2
        section.box
            include headboard-tabs
            .box-padd
                .box-result
                    .body-resultados
                        .item-resultados.box
                            section#RST1
                                script
                                  | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215751'}).renderMaM({id:'#RST1',url:'www.google.com.pe'});
                            ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                         .item-resultados.box
                            section#RST2
                                script
                                  | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST2',url:'www.google.com.pe'});
                            ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                         //- .item-resultados.box
                         //-    section#RST3
                         //-        script
                         //-          | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST3',url:'www.google.com.pe'});
                         //-    ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                         .item-resultados.box
                            section#RST4
                                script
                                  | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST4',url:'www.google.com.pe'});
                            ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                    .link-resultados
                        a(href="") Ver mas 
                    //- .item-result
                    //-     #RST1
                    //-         script
                    //-             | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST1'});
                    //- .item-result
                    //-     #RST2
                    //-         script
                    //-             | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST2'});

                    section.inner-detail.n-padd
                        section.content-news
                            //- include detail-tags
                            
                            include detail-social-bottom-2
                            //- section.comment#coment 
                            //-     h4 COMENTA:
                            //-     .fb#fb-root
                            //-     .fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe")
                            //-     span.wrapper-icon-circle-o-notch
                            //-         i.icon.icon-circle-o-notch.fa-spin
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                            include connect
                        .clear

                        
                        
