jade/includes/body-detail.jade
.grid
    .col-2-2
        section.box
            .box-inner
                include breadcrumb-social-2
                article.box-detail
                    header
                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                            
                        h1 Real Madrid, Triunfa con golazo de Cristiano Ronaldo
                        cite.hat Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                

                        .wrapper-min
                            ul.wrapper-min-list
                                li
                                    a(href="") Previa
                                li
                                    a(href="") Directo
                                li.active
                                    a(href="") Crónica
                            section#MaM-result
                                script
                                  | rppWR.read({events: 'champions', type: 'mam', matchId: '210876'}).renderInterval({id:'#MaM-result'});
      
                    section.inner-detail

                        section.img-news                                            
                            include detail-content-img
                        
                        ul.sharedetail-fix.nolist
                            li FB
                            li TW
                            li GPLUS
                            
                        section.content-news
                            include detail-content-news
                    section.inner-detail.n-padd
                        section.content-news
                            include detail-tags
                            
                            include detail-social-bottom-2
                            section.comment#coment 
                                h4 COMENTA:
                                .fb#fb-root
                                .fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe")
                                span.wrapper-icon-circle-o-notch
                                    i.icon.icon-circle-o-notch.fa-spin
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                            include connect
                        .clear

                        
                        

public/includes/body-detail.html

<div class="grid">
  <div class="col-2-2">
    <section class="box">
      <div class="box-inner">
        <section class="breadcrumb-social s-detail">
          <nav class="breadcrumb">
            <ul>
              <li>
                <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
              </li>
              <li>Fútbol Internacional</li>
            </ul>
          </nav>
          <section class="social-detail nav-sociales fix-sociales new">
            <ul class="item-social-detail">
              <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
              <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
              <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
              <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
              <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
            </ul>
            <ul class="item-social-detail">
              <li class="li-comenta-small"><a href="#coment" data-idfb="287920207998918" class="comenta"><i class="icon icon-comments-o"></i></a></li>
            </ul>
          </section>
        </section>
        <article class="box-detail">
          <header>
            <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
            <h1>Real Madrid, Triunfa con golazo de Cristiano Ronaldo</h1>
            <cite class="hat">Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                </cite>
            <div class="wrapper-min">
              <ul class="wrapper-min-list">
                <li><a href="">Previa</a></li>
                <li><a href="">Directo</a></li>
                <li class="active"><a href="">Crónica</a></li>
              </ul>
              <section id="MaM-result">
                <script>rppWR.read({events: 'champions', type: 'mam', matchId: '210876'}).renderInterval({id:'#MaM-result'});</script>
              </section>
            </div>
          </header>
          <section class="inner-detail">
            <section class="img-news">                                           
              <figure class="media full"><img src="img/16_9_ndetalle.jpg" alt="Real Madrid, Triunfa con golazo de Cristiano Ronaldo"/>
                <figcaption class="help-media">Agencia AFP</figcaption>
              </figure>
            </section>
            <ul class="sharedetail-fix nolist">
              <li>FB</li>
              <li>TW</li>
              <li>GPLUS</li>
            </ul>
            <section class="content-news">
            </section>
          </section>
          <section class="inner-detail n-padd">
            <section class="content-news">
              <section class="tags">
                <h3>Tags:</h3>
                <h2><a href="#">RONALDO</a></h2>
                <h2><a href="#">REAL MADRID</a></h2>
                <h2><a href="#">ESPAÑA</a></h2>
                <h2><a href="#">CHAMPIONS</a></h2>
                <h2><a href="#">PORTUGAL</a></h2>
              </section>
              <section class="social-detail social-2">
                <ul class="item-social-detail">
                  <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
                  <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
                  <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
                  <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
                  <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
                </ul>
                <ul class="item-social-detail">
                  <li class="li-comenta-large"><a data-idfb="287920207998918" data-type="s-click" class="lazy comenta bot"><i class="icon icon-comments-o"> </i><span>comenta</span></a>
                    <div class="text-comenta">
                      <p>120</p><span>comentarios</span>
                    </div>
                  </li>
                </ul>
              </section>
              <section id="coment" class="comment"> 
                <h4>COMENTA:</h4>
                <div id="fb-root" class="fb"></div>
                <div data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" class="fb-comments"></div><span class="wrapper-icon-circle-o-notch"><i class="icon icon-circle-o-notch fa-spin"></i></span>
              </section>
              <section class="ads-full">
                <section class="ads-sidebar"></section>
                <section class="ads-sidebar">   </section>
              </section>
              <section class="related-news-full module module-blue">          
                <h3>Noticias relacionadas                    </h3>
                <ul class="title-top">
                  <li>
                    <div class="box">
                      <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
                      <h3 class="tag-title">BOXEO</h3>
                      <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
                    </div>
                  </li>
                  <li>
                    <div class="box">
                      <figure class="media"><a href="#"><img src="" data-original="img/16_9_relacionadas.jpg" data-type="img" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana" class="lazy"/></a></figure>
                      <h3 class="tag-title">FÚTBOL</h3>
                      <h2><span><a href="#">Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores</a></span></h2>
                    </div>
                  </li>
                </ul>
              </section>
              <section class="connect">
                <h4>Conéctate a la 10</h4>
                <ul>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-facebook"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-twitter"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-google-plus"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-youtube"></i></a></li>
                  <li><a href="" class="wrapper-icon-connect"><i class="icon icon-vine"></i></a></li>
                </ul>
              </section>
            </section>
            <div class="clear"></div>
          </section>
        </article>
      </div>
    </section>
  </div>
</div>
