public/includes/breadcrumb.html

<section class="breadcrumb-full">
  <nav class="breadcrumb">
    <ul>
      <li>
        <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
      </li>
      <li>Fútbol Internacional</li>
    </ul>
  </nav>
</section>

jade/includes/breadcrumb.jade
section.breadcrumb-full
    nav.breadcrumb
        ul
            li
                figure.logo
                    a(href="#")
                        img(src="img/logo_breadcrumb.png",alt="Logo La10")
            li Fútbol Internacional
