jade/includes/breadcrumb-social-2.jade
section.breadcrumb-social.s-detail
    nav.breadcrumb
        ul
            li
                figure.logo
                    a(href="#")
                        img(src="img/logo_breadcrumb.png",alt="Logo La10")
            li Fútbol Internacional
    section.social-detail.nav-sociales.fix-sociales.new
        ul.item-social-detail
            li.large-social-top.func-large
                a(href="#").facebook
                    i.icon.icon-facebook
                    span comparte
            li.small-social-top.func-small
                a(href="#").twitter
                    i.icon.icon-twitter
            li.small-social-top.func-small
                a(href="#").gplus
                    i.icon.icon-google-plus
            li.li-whatsapp.small-social-top.func-small
                a(href="#").whatsapp
                    i.icon.icon-whatsapp
            li.li-icon.func-icon 
                a(href="").plus
                    i.icon.icon-plus
                    i.icon.icon-minus
        ul.item-social-detail
            li.li-comenta-small
                a(href="#coment" data-idfb="287920207998918").comenta
                    i.icon.icon-comments-o

public/includes/breadcrumb-social-2.html

<section class="breadcrumb-social s-detail">
  <nav class="breadcrumb">
    <ul>
      <li>
        <figure class="logo"><a href="#"><img src="img/logo_breadcrumb.png" alt="Logo La10"/></a></figure>
      </li>
      <li>Fútbol Internacional</li>
    </ul>
  </nav>
  <section class="social-detail nav-sociales fix-sociales new">
    <ul class="item-social-detail">
      <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
      <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
      <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
      <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
      <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
    </ul>
    <ul class="item-social-detail">
      <li class="li-comenta-small"><a href="#coment" data-idfb="287920207998918" class="comenta"><i class="icon icon-comments-o"></i></a></li>
    </ul>
  </section>
</section>
