public/includes/ca-article-vs.html

<article class="box ca">
  <div class="box-inner">
    <header>
      <div class="tag-time">
        <h3 class="tag"><span><i class="icon icon-photo"></i><a href="#">Copa América</a></span></h3>
        <time datetime="2015-02-23 19:44">23/02/15 19:44</time>
      </div>
      <h1><a href="#">Atlético remonta al Real Madrid, segundo tiempo lleno de emoción</a></h1>
    </header>
  </div>
  <figure class="media"><a href="#"><img src="img/copa1.jpg" alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños"/></a><a href="#" class="aside-figure"><span class="left-figure"><i class="icon icon-history icon-spin-invert"></i></span><span class="middle-figure">EN VIVO</span><span class="right-figure">Cobertura<i class="icon icon-caret-right"></i></span></a></figure>
  <!--div#matchId-210871.cntMatch-->
  <!--script(charset="utf-8")| rppWR.read({events: 'copainca', type: 'MaM', matchId: '210871'}).renderInterval({id:'#matchId-210871', url: 'http://dbg-ladiez.webrpp.com/url.html'});
  --></script>
  <section class="box-inner">
    <div class="team-vs">
      <div class="time-vs">2do tiempo</div>
      <div class="shield-vs">
        <div class="shield">
          <figure><img src="img/escudo1.jpg" alt="Equipo A"/></figure>
        </div>
        <div class="vs"><span>1 </span><span>x </span><span>2</span></div>
        <div class="shield">
          <figure><img src="img/escudo2.jpg" alt="Equipo B"/></figure>
        </div>
      </div>
      <div class="team-vs-name">
        <div class="team-name team-left">
          <h2>Real Madrid</h2>
        </div>
        <div class="team-name team-right">
          <h2>Atlético Madrid</h2>
        </div>
      </div>
    </div>
    <p>Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.</p>
  </section>
</article>

jade/includes/ca-article-vs.jade
article.box.ca
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#") Copa América
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") Atlético remonta al Real Madrid, segundo tiempo lleno de emoción
    figure.media
        a(href="#")
            img(src="img/copa1.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
        a(href="#").aside-figure
            span.left-figure
                i.icon.icon-history.icon-spin-invert
            span.middle-figure EN VIVO
            span.right-figure Cobertura
                i.icon.icon-caret-right
    //div#matchId-210871.cntMatch
    //script(charset="utf-8")
        | rppWR.read({events: 'copainca', type: 'MaM', matchId: '210871'}).renderInterval({id:'#matchId-210871', url: 'http://dbg-ladiez.webrpp.com/url.html'});
    </script>
    section.box-inner
        div.team-vs
            div.time-vs 2do tiempo
            div.shield-vs
                div.shield
                    figure
                        img(src="img/escudo1.jpg", alt="Equipo A")
                div.vs
                    span 1 
                    span x 
                    span 2
                div.shield
                    figure
                        img(src="img/escudo2.jpg", alt="Equipo B")
            div.team-vs-name
                div.team-name.team-left
                    h2 Real Madrid
                div.team-name.team-right
                    h2 Atlético Madrid
                
        p Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.
