jade/includes/detail-social-bottom-2.jade
section.social-detail.social-2
    //- ul.item-social-detail
    //-     li.large-social-top.func-large
    //-         a(href="#").facebook
    //-             i.icon.icon-facebook
    //-             span comparte
    //-     li.small-social-top.func-small
    //-         a(href="#").twitter
    //-             i.icon.icon-twitter
    //-     li.small-social-top.func-small
    //-         a(href="#").gplus
    //-             i.icon.icon-google-plus
    //-     li.li-whatsapp.small-social-top.func-small
    //-         a(href="#").whatsapp
    //-             i.icon.icon-whatsapp
    //-     li.li-icon.func-icon 
    //-         a(href="").plus
    //-             i.icon.icon-plus
    //-             i.icon.icon-minus
    
    //- ul
    //-    li.large-social-top.func-large.large-social-bottom
    //-         a(href="#").facebook
    //-             i.icon.icon-facebook
    //-             span comparte
    //-     li.small-social-top.func-small
    //-         a(href="#").twitter
    //-             i.icon.icon-twitter
    //-     li.small-social-top.func-small
    //-         a(href="#").gplus
    //-             i.icon.icon-google-plus
    //-     li.li-whatsapp.small-social
    //-         a(href="#").whatsapp
    //-             i.icon.icon-whatsapp
    //-     li.li-icon.func-icon.li-icon-bottom 
    //-         a(href="").plus
    //-             i.icon.icon-plus
    //-             i.icon.icon-minus
    //- li.li-comenta-large
    //-     a(href="" data-idfb="287920207998918").comenta 
    //-         i.icon.icon-comments-o 
    //-         span comenta
    //-     div.text-comenta
    //-         p 120
    //-         span comentarios

    ul.item-social-detail
        li.large-social-top.func-large
            a(href="#").facebook
                i.icon.icon-facebook
                span comparte
        li.small-social-top.func-small
            a(href="#").twitter
                i.icon.icon-twitter
        li.small-social-top.func-small
            a(href="#").gplus
                i.icon.icon-google-plus
        li.li-whatsapp.small-social-top.func-small
            a(href="#").whatsapp
                i.icon.icon-whatsapp
        li.li-icon.func-icon 
            a(href="").plus
                i.icon.icon-plus
                i.icon.icon-minus
    ul.item-social-detail
        li.li-comenta-large
            a(data-idfb="287920207998918" data-type="s-click").lazy.comenta.bot
                i.icon.icon-comments-o 
                span comenta
            div.text-comenta
                p 120
                span comentarios

public/includes/detail-social-bottom-2.html

<section class="social-detail social-2">
  <ul class="item-social-detail">
    <li class="large-social-top func-large"><a href="#" class="facebook"><i class="icon icon-facebook"></i><span>comparte</span></a></li>
    <li class="small-social-top func-small"><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
    <li class="small-social-top func-small"><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
    <li class="li-whatsapp small-social-top func-small"><a href="#" class="whatsapp"><i class="icon icon-whatsapp"></i></a></li>
    <li class="li-icon func-icon"> <a href="" class="plus"><i class="icon icon-plus"></i><i class="icon icon-minus"></i></a></li>
  </ul>
  <ul class="item-social-detail">
    <li class="li-comenta-large"><a data-idfb="287920207998918" data-type="s-click" class="lazy comenta bot"><i class="icon icon-comments-o"> </i><span>comenta</span></a>
      <div class="text-comenta">
        <p>120</p><span>comentarios</span>
      </div>
    </li>
  </ul>
</section>
