jade/includes/module-gallery-home.jade
section.gallery-flow.box(style="height:600px")
    #gallery-home.owl-carousel
        .item
            article.gallery-inner
                figure.media
                    a(href="#")
                        img(src="img/16-9-galeria.jpg", alt="Robben Imparable 1!")
                
                .title-tag
                    h3 Galeria del día 1
                    h2
                        a(href="#") Robben Imparable 1!
        .item
            article.gallery-inner
                figure.media
                    a(href="#")
                        img(src="img/16-9-galeria.jpg", alt="Robben Imparable 2!")
                
                .title-tag
                    h3 Galeria del día 2
                    h2
                        a(href="#") Robben Imparable 2!
        .item
            article.gallery-inner
                figure.media
                    a(href="#")
                        img(src="img/16-9-galeria.jpg", alt="Robben Imparable 3!")
                
                .title-tag
                    h3 Galeria del día 3
                    h2
                        a(href="#") Robben Imparable 3!

public/includes/module-gallery-home.html

<section style="height:600px" class="gallery-flow box">
  <div id="gallery-home" class="owl-carousel">
    <div class="item">
      <article class="gallery-inner">
        <figure class="media"><a href="#"><img src="img/16-9-galeria.jpg" alt="Robben Imparable 1!"/></a></figure>
        <div class="title-tag">
          <h3>Galeria del día 1</h3>
          <h2><a href="#">Robben Imparable 1!</a></h2>
        </div>
      </article>
    </div>
    <div class="item">
      <article class="gallery-inner">
        <figure class="media"><a href="#"><img src="img/16-9-galeria.jpg" alt="Robben Imparable 2!"/></a></figure>
        <div class="title-tag">
          <h3>Galeria del día 2</h3>
          <h2><a href="#">Robben Imparable 2!</a></h2>
        </div>
      </article>
    </div>
    <div class="item">
      <article class="gallery-inner">
        <figure class="media"><a href="#"><img src="img/16-9-galeria.jpg" alt="Robben Imparable 3!"/></a></figure>
        <div class="title-tag">
          <h3>Galeria del día 3</h3>
          <h2><a href="#">Robben Imparable 3!</a></h2>
        </div>
      </article>
    </div>
  </div>
</section>
