jade/includes/module-social.jade
section.share-social.module.module-blue           
    h3 CONÉCTATE
    .box
        ul
            li
                a(href="#").facebook
                    i.icon.icon-facebook
            li
                a(href="#").twitter
                    i.icon.icon-twitter
            li
                a(href="#").gplus
                    i.icon.icon-google-plus
            li
                a(href="#").youtube
                    i.icon.icon-youtube

public/includes/module-social.html

<section class="share-social module module-blue">          
  <h3>CONÉCTATE</h3>
  <div class="box">
    <ul>
      <li><a href="#" class="facebook"><i class="icon icon-facebook"></i></a></li>
      <li><a href="#" class="twitter"><i class="icon icon-twitter"></i></a></li>
      <li><a href="#" class="gplus"><i class="icon icon-google-plus"></i></a></li>
      <li><a href="#" class="youtube"><i class="icon icon-youtube"></i></a></li>
    </ul>
  </div>
</section>
